* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #1e1e2e;
  --fg: #cdd6f4;
  --ac: #cba6f7;
  --icon-filter: invert(1);
  --star-filter: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #eff1f5;
    --fg: #4c4f69;
    --ac: #8839ef;
    --icon-filter: none;
    --star-filter: invert(1);
  }
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: var(--bg);
  color: var(--fg);
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

section {
  min-height: 90vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section,
header,
footer {
  width: 100%;
  max-width: 1400px;
  margin: 0rem auto;
}

a {
  color: var(--ac);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.3rem;
}

header img {
  height: 2rem;
  width: auto;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

#hero {
  flex-direction: row;
}

#hero img {
  height: 20vw;
  max-height: 25rem;
  width: auto;
  margin-right: -5%;
}

#hero #desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#hero #source-code {
  margin-top: 0.5rem;
}

.material-button {
  border-radius: 2rem;
  padding: 0.6rem 1.5rem;
  background: var(--ac);
  color: var(--bg);
  width: max-content;
}

.material-button:hover {
  text-decoration: none;
}

.card {
  padding: 2rem 3rem;
  border-radius: 3rem;
  background: var(--ac);
  color: var(--bg);
}

.card a {
  filter: brightness(0.5);
  font-style: italic;
}

#apps h2,
#team h2 {
  align-self: start;
  margin-left: 5%;
  margin-bottom: 2rem;
}

#apps div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;
}

#team div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#apps .card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

#apps .stars {
  position: absolute;
  right: 2rem;
  top: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

#apps .stars img {
  height: 0.9rem;
  width: auto;
  filter: var(--star-filter);
  margin-bottom: 0.1rem;
}

#apps a,
#team a {
  color: var(--bg);
  filter: none;
}

#apps a:hover,
#team a:hover {
  text-decoration: none;
}

#team .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#team img {
  border-radius: 50%;
  width: 30%;
  height: auto;
}

#contributing .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

footer #social-links {
  display: flex;
}

footer img {
  height: 1.4rem;
  width: auto;
  filter: var(--icon-filter);
  margin: 0 0.5rem;
}
